{% extends 'base.html.twig' %}

{% block title %}New Examen{% endblock %}

{% block body %}
    <h1>Create new Examen</h1>

    {{ include('examen/_form.html.twig') }}

    <a href="{{ path('app_examen_index') }}">back to list</a>
{% endblock %}
