{% extends 'front_office/SecondBase.html.twig' %}


{% block body %}
<html>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js') }}"></script>
<body>

{% set dataArrayformation=[] %}
{% set particpationCount=[] %}
{%  for i in formations %}
    {% set dataArrayformation = (dataArrayformation)|merge([i.sujet]) %}
{% endfor %}
{% for i in countParticipation %}
    {% set particpationCount = (particpationCount)|merge([ i[1]]) %}
{% endfor %}

<canvas id="graph" width="100" height="100"></canvas>
<script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js') }}" ></script>
<script>


    var exampleArray = "{{dataArrayformation|json_encode()}}"
    console.log(JSON.parse(exampleArray.replace(/&quot;/g,'"')))
    var xValues = JSON.parse(exampleArray.replace(/&quot;/g,'"'))
    xValues1 = xValues.reverse();



    var cat = JSON.parse("{{particpationCount|json_encode()}}")
    console.log((cat));
    var cat1=[];
    for( i=0 ; i<cat.length;i++ ) {

        console.log(cat[i]);
        cat1.push((parseInt(cat[i])))

    }

    let myChart = new Chart("graph", {
        type: "bar",
        data: {
            labels: xValues1,
            datasets: [
                {
                    label: "Participation Par Formation",
                    backgroundColor: "lightPink" ,
                    data: cat1,
                    borderWidth : 1,
                },
            ],
        },
        options : {
            scales: {
                xAxes: [{
                    barPercentage: 1,
                    categoryPercentage: 1.5/ 5
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        stepSize : 1,
                        suggestedMin: 0,
                        suggestedMax: 10
                    }

                }]
            },
            title : {
                display :true,
                text :"Statistiques des Participations Par Formation",
                fontsize : 24,

            },

            layout : {
                padding: {
                    top: 20 ,
                    left : 20,
                    right : 20,

                },
                size : {
                    height : 10,
                    width : 10 ,

                }
            }

        }
    });

</script>
</body>
</html>
{% endblock %}