{% extends 'front_office/base2.html.twig' %}

{% block title %} Formations list{% endblock %}

{% block body %}


    {% for i in formations %}
        <div class=" ">
            <div class="card" style="    flex: auto; box-sizing: border-box; margin: 1rem .25em; ">
                {#<img class="card-img-top" src="" alt="Card image cap"> #}
                <div class="card-body">
                    <h5 class="card-title">{{ i.sujet }}</h5>
                    <p class="card-text"> {{ i.description }}</p>
                    <a href="#" class="btn btn-primary">Participer</a>
                </div>
            </div>
        </div>





    {% endfor %}

{% endblock %}