{% extends 'front_office/SecondBase.html.twig' %}

{% block title %} Formations list{% endblock %}




{% block slidestitle %} Bienvenue  {% endblock %}

            {% block leftslide %}
                {% include('front_office/components/leftsidebar.html.twig') %}

            {% endblock %}

{% block body %}



    {% for i in formations %}

        <div class="col-md-6 col-lg-4 col-sm-6 m-b30">
            <div class="cours-bx">
                <div class="action-box">
                    <img src="{{ asset('front/assets/images/courses/pic1.jpg') }}" alt="">

                </div>
                <div class="info-bx text-center">
                    <h5><a href="#">{{ i.sujet }}</a></h5>
                    <span>{{i.categorie}}</span>
                </div>
                <div class="cours-more-info">
                    <div class="review">
                        <span>3 Review</span>
                        <ul class="cours-star">
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="price">


                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

    </div>
{% endblock %}



















































