{% extends 'base.html.twig' %}

{% block title %}Edit Attestation{% endblock %}

{% block body %}
    <h1>Edit Attestation</h1>

    {{ include('attestation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_attestation_index') }}">back to list</a>

    {{ include('attestation/_delete_form.html.twig') }}
{% endblock %}
