<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the PDF</title>
</head>
<body>
<h1>Attestation </h1>
<h4>
    Je sougnié Ahmed Gouiaa agissant en qualité de responsable de qualité de l'organisme E-Lmadrsa atteste que :

</h4>

<h4>
    Madame/Monsieur 'X' a suivi avec Suidité et réussite une formation 'y' au sein de notre plateforme E-Lmadrsa avec passage de l'examen

    Le résultat obtenu est : 'z'
</h4>
<p>E-LMadrsa </p>
</body>
</html>