{% extends 'back_office/backbase.html.twig' %}

{% block title %}New Attestation{% endblock %}

{% block body %}
    <h1>Create new Attestation</h1>

    {{ include('attestation/_form.html.twig') }}


{% endblock %}
