<form method="post" action="{{ path('app_comment_delete', {'commentid': comment.commentid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.commentid) }}">
    <button class="badge bg-danger">Delete</button>
</form>
