<form method="post" action="{{ path('app_category_delete', {'categoryid': category.categoryid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.categoryid) }}">
    <button class="btn">Delete</button>
</form>
