{% extends 'back_office/backbase.html.twig' %}


{% block title %}New CategorieEv{% endblock %}

{% block body %}
    <h1>Create new CategorieEv</h1>

    {{ include('categorie_ev/_form.html.twig') }}
{% endblock %}
