
{% extends 'front_office/base2.html.twig' %}

{% block title %}  liste des réclamation {% endblock %}


{% block filtrage %}
    <div style="margin: 50px;">

        <h1> réclamation : </h1>



     </div>


{% endblock %}


{% block body %}

{% endblock