{% extends 'back_office/backbase.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}
    <h1>Edit Evenement</h1>

    {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
