{% extends 'back_office/backbase.html.twig' %}
{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Create new Evenement</h1>

    {{ include('evenement/_form.html.twig') }}

    
{% endblock %}
