<form method="post" action="{{ path('app_prerequis_delete', {'idprerequis': prerequi.idprerequis}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prerequi.idprerequis) }}">
    <button class="btn">Delete</button>
</form>
