{% extends 'back_office/backbase.html.twig' %}

{% block title %}Edit Reclamation{% endblock %}

{% block body %}
    <h1>Edit Reclamation</h1>

    {{ include('back_office/reclamation/_form.html.twig', {'button_label': 'Update'}) }}




{% endblock %}
