{% extends 'back_office//backbase.html.twig' %}

{% block title %}Edit Examen{% endblock %}

{% block body %}
    <h1>Modifier l'examen : {{ examan.nomexamen }}</h1>

    {{ include('back_office/examen/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
