{% extends 'front_office/blogbase.html.twig' %}



{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('back_office/category/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    {{ include('back_office/category/_delete_form.html.twig') }}
    <br>

    <a href="{{ path('app_category_index') }}">back to list</a>


{% endblock %}
