{% extends 'front_office/blogbase.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <h1>Create new Category</h1>
    {% for message in app.flashes('info') %}
        <div class="alert alert succ">{{ message }}</div>
    {% endfor %}

    {{ include('back_office/category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">back to list</a>
{% endblock %}
