body {
    margin: 0;
    padding: 0;
}
html {
    min-height: 100vh;
    background-color: white;
    background:
            radial-gradient(55% 100% at center 100vmin, transparent 70%, 90%, rgba(147, 126, 115, 0.4) 105%),
            linear-gradient(-30deg, whitesmoke, slategrey 40%, whitesmoke);
}
.podium {
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 5vmin;
    font-family: serif;
    font-variant: small-caps;
}
.podium li {
    position: relative;
    list-style: none;
    background: linear-gradient(to right, white, 30%, #ffffff 40%, 55%, white);
    flex: 1;
    padding: 1rem;
    margin: 0 0.5rem;
    box-sizing: border-box;
    text-align: center;
    font-size: calc(0.8rem + 3vw);
    text-shadow:
            -1px -1px black,
            +1px -1px black,
            +1px +1px black,
            -1px +1px black,
            -1px -1px 1px lightBlue,
            +1px -1px 1px lightBlue,
            +1px +1px 1px lightBlue,
            -1px +1px 1px lightBlue;
    border-top: solid 0.7rem;
    border-bottom: solid 0.2rem rgba(0,0,0,0.7);
    border-radius: 50% / 0.5rem 0.5rem 1rem 1rem;
}
.podium li::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    border-bottom: solid 0.7rem;
    border-radius: 0 0 50% 50% / 0 0 1rem 1rem;
}
.podium li:first-child {
    color: black;
    height: 90vh;
    min-height: 6em;
    order: 2;
}
.podium li:nth-child(2) {
    color: black;
    height: 60vh;
    min-height: 4em;
    order: 1;
}
.podium li:nth-child(3) {
    color: black;
    height: 30vh;
    min-height: 2em;
    order: 3;
}

@media (max-width: 24em) {
    .podium {
        flex-direction: column;
        align-items: stretch;
    }
    .podium li:nth-child(n) {
        order: 0;
        height: 4em;
        min-height: 0;
        margin: 0.5rem 0;
    }

}

h1 {
    font-size: 250%
}

.slide {
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

.title {
    width: 50%;
    padding: 5%;
    border-radius: 5px;
    background: rgba(240,230,220, .7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.header {
    text-align: center;
    font-size: 175%;
    color: #fff;
    text-shadow: 0 2px 2px #000;
}