{% extends 'back_office/backbase.html.twig' %}

{% block title %}New Requests
{% endblock %}

{% block body %}
    <h1>Edit Requests</h1>

    {{ include('back_office/requests/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
