{% extends 'front_office/SecondBase.html.twig' %}

{% block title %}
  Hello
{% endblock %}

{% block body %}
  
    
      <!-- Your Profile Views Chart -->
      <div class="col" id="chatboxx" >
        {% include 'front_office/msg.html.twig' %}
      </div>
      <!-- Your Profile Views Chart END -->
    

  
{% endblock %}
